In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [73]:
%pprint

#This line makes sure that matplotlib prints the plots
%matplotlib inline

# This just sets the default plot size to be bigger.
plt.rcParams['figure.figsize'] = (16, 12)

Pretty printing has been turned ON

To get up to date and trusted data I have gone to the website of the European Centre for Disease Prevention and Control which is an agency for the European Union. The website link is below. 

(When I have the notebook finished, I will try to pull the data directly from the website)

https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide

In [74]:
# reading in a csv file from ecdc website download, for up to date data
df = pd.read_csv("COVID-19Cases_05.07.2020.csv")
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp
0,05/07/2020,5,7,2020,348,7,Afghanistan,AF,AFG,38041757.0,Asia
1,04/07/2020,4,7,2020,302,12,Afghanistan,AF,AFG,38041757.0,Asia
2,03/07/2020,3,7,2020,186,33,Afghanistan,AF,AFG,38041757.0,Asia
3,02/07/2020,2,7,2020,319,28,Afghanistan,AF,AFG,38041757.0,Asia
4,01/07/2020,1,7,2020,279,13,Afghanistan,AF,AFG,38041757.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...
27826,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
27827,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa
27828,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
27829,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
27830,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa

In [75]:
# information on number of pieces of data in columns and datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27831 entries, 0 to 27830
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   dateRep                  27831 non-null  object
 1   day                      27831 non-null  int64
 2   month                    27831 non-null  int64
 3   year                     27831 non-null  int64
 4   cases                    27831 non-null  int64
 5   deaths                   27831 non-null  int64
 6   countriesAndTerritories  27831 non-null  object
 7   geoId                    27718 non-null  object
 8   countryterritoryCode     27767 non-null  object
 9   popData2019              27767 non-null  float64
 10  continentExp             27831 non-null  object
dtypes: float64(1), int64(5), object(5)
memory usage: 2.3+ MB

As you can see above the date column is not a date datatype, I will need to change that so that data stays in order.

In [76]:
# Reading in the spreadsheet using Pandas, and telling pandas that there is a set of dates in the data
#df = pd.read_csv("COVID-19Cases_05.07.2020.csv", parse_dates=['dateRep'])
#df

In [77]:
#using pandas built in to_datetime function to change the dateRep column form object to a datetime object
df['dateRep'] = pd.to_datetime(df['dateRep'], format='%d/%m/%Y')
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp
0,2020-07-05,5,7,2020,348,7,Afghanistan,AF,AFG,38041757.0,Asia
1,2020-07-04,4,7,2020,302,12,Afghanistan,AF,AFG,38041757.0,Asia
2,2020-07-03,3,7,2020,186,33,Afghanistan,AF,AFG,38041757.0,Asia
3,2020-07-02,2,7,2020,319,28,Afghanistan,AF,AFG,38041757.0,Asia
4,2020-07-01,1,7,2020,279,13,Afghanistan,AF,AFG,38041757.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...
27826,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
27827,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa
27828,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
27829,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
27830,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa

In [78]:
#checkign info to see the datatype of dataRep now
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27831 entries, 0 to 27830
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   dateRep                  27831 non-null  datetime64[ns]
 1   day                      27831 non-null  int64
 2   month                    27831 non-null  int64
 3   year                     27831 non-null  int64
 4   cases                    27831 non-null  int64
 5   deaths                   27831 non-null  int64
 6   countriesAndTerritories  27831 non-null  object
 7   geoId                    27718 non-null  object
 8   countryterritoryCode     27767 non-null  object
 9   popData2019              27767 non-null  float64
 10  continentExp             27831 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(5), object(4)
memory usage: 2.3+ MB

In [79]:
# a quick look at the head of the data to see how many columns we have and if we can get rid of some that are not needed
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp
0,2020-07-05,5,7,2020,348,7,Afghanistan,AF,AFG,38041757.0,Asia
1,2020-07-04,4,7,2020,302,12,Afghanistan,AF,AFG,38041757.0,Asia
2,2020-07-03,3,7,2020,186,33,Afghanistan,AF,AFG,38041757.0,Asia
3,2020-07-02,2,7,2020,319,28,Afghanistan,AF,AFG,38041757.0,Asia
4,2020-07-01,1,7,2020,279,13,Afghanistan,AF,AFG,38041757.0,Asia

In [80]:
# Statistical description of the data
df.describe()

,day,month,year,cases,deaths,popData2019
count,27831.000000,27831.000000,27831.000000,27831.000000,27831.000000,2.776700e+04
mean,15.814811,4.312996,2019.997593,403.925658,19.067515,4.640626e+07
std,8.994855,1.617419,0.049007,2351.306962,120.833161,1.664285e+08
min,1.000000,1.000000,2019.000000,-29726.000000,-1918.000000,8.150000e+02
25%,8.000000,3.000000,2020.000000,0.000000,0.000000,1.798506e+06
50%,16.000000,4.000000,2020.000000,4.000000,0.000000,8.776119e+06
75%,24.000000,6.000000,2020.000000,72.000000,1.000000,3.182530e+07
max,31.000000,12.000000,2020.000000,54771.000000,4928.000000,1.433784e+09

In [81]:
# shape of the data is (rows, columns)
df.shape

(27831, 11)

In [82]:
# column headers
df.keys()

Index(['dateRep', 'day', 'month', 'year', 'cases', 'deaths',
       'countriesAndTerritories', 'geoId', 'countryterritoryCode',
       'popData2019', 'continentExp'],
      dtype='object')

In [83]:
# we will drop the columns we do not need
df = df.drop(['day', 'month', 'year','geoId', 'countryterritoryCode', 'popData2019', 'continentExp'], axis=1)

In [84]:
# head of our new slimed down dataframe
df.head()

     dateRep  cases  deaths countriesAndTerritories
0 2020-07-05    348       7             Afghanistan
1 2020-07-04    302      12             Afghanistan
2 2020-07-03    186      33             Afghanistan
3 2020-07-02    319      28             Afghanistan
4 2020-07-01    279      13             Afghanistan

In [85]:
#final 5 columns
df.tail()

         dateRep  cases  deaths countriesAndTerritories
27826 2020-03-25      0       0                Zimbabwe
27827 2020-03-24      0       1                Zimbabwe
27828 2020-03-23      0       0                Zimbabwe
27829 2020-03-22      1       0                Zimbabwe
27830 2020-03-21      1       0                Zimbabwe

In [86]:
df_cases = df.drop(['deaths'], axis=1)
df_cases.head()

     dateRep  cases countriesAndTerritories
0 2020-07-05    348             Afghanistan
1 2020-07-04    302             Afghanistan
2 2020-07-03    186             Afghanistan
3 2020-07-02    319             Afghanistan
4 2020-07-01    279             Afghanistan

In [87]:
df_cases.set_index('dateRep')

            cases countriesAndTerritories
dateRep
2020-07-05    348             Afghanistan
2020-07-04    302             Afghanistan
2020-07-03    186             Afghanistan
2020-07-02    319             Afghanistan
2020-07-01    279             Afghanistan
...           ...                     ...
2020-03-25      0                Zimbabwe
2020-03-24      0                Zimbabwe
2020-03-23      0                Zimbabwe
2020-03-22      1                Zimbabwe
2020-03-21      1                Zimbabwe

[27831 rows x 2 columns]

In [88]:
#cases = df_cases.pivot(index='countriesAndTerritories', columns='dateRep', values=['cases'])
#cases

In [89]:
cases = df_cases.pivot(index='dateRep', columns='countriesAndTerritories', values='cases')
cases.head()

countriesAndTerritories,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_States_Virgin_Islands,United_States_of_America,Uruguay,Uzbekistan,Venezuela,Vietnam,Western_Sahara,Yemen,Zambia,Zimbabwe
dateRep,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2020-01-01,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2020-01-02,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2020-01-03,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2020-01-04,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [90]:
cases.fillna(0, inplace=True)
cases

countriesAndTerritories,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_States_Virgin_Islands,United_States_of_America,Uruguay,Uzbekistan,Venezuela,Vietnam,Western_Sahara,Yemen,Zambia,Zimbabwe
dateRep,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-01,279.0,69.0,336.0,0.0,8.0,0.0,0.0,2262.0,415.0,0.0,...,0.0,43880.0,4.0,329.0,302.0,0.0,172.0,30.0,26.0,17.0
2020-07-02,319.0,45.0,365.0,0.0,7.0,0.0,0.0,2667.0,523.0,0.0,...,8.0,52048.0,7.0,277.0,230.0,0.0,81.0,32.0,38.0,14.0
2020-07-03,186.0,82.0,385.0,0.0,24.0,0.0,2.0,2744.0,593.0,1.0,...,6.0,53399.0,4.0,295.0,211.0,0.0,0.0,31.0,0.0,12.0
2020-07-04,302.0,90.0,413.0,0.0,13.0,0.0,0.0,2845.0,662.0,0.0,...,13.0,54442.0,5.0,301.0,264.0,0.0,58.0,19.0,0.0,8.0
2020-07-05,348.0,67.0,430.0,0.0,18.0,0.0,0.0,0.0,580.0,1.0,...,0.0,45221.0,3.0,329.0,213.0,0.0,0.0,8.0,0.0,73.0

In [91]:
cases_14_days = cases.iloc[-28:,:]
cases_14_days

countriesAndTerritories,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_States_Virgin_Islands,United_States_of_America,Uruguay,Uzbekistan,Venezuela,Vietnam,Western_Sahara,Yemen,Zambia,Zimbabwe
dateRep,,,,,,,,,,,,,,,,,,,,,
2020-06-08,791.0,14.0,104.0,0.0,5.0,0.0,0.0,774.0,766.0,0.0,...,0.0,22302.0,0.0,171.0,61.0,2.0,0.0,13.0,0.0,3.0
2020-06-09,575.0,17.0,111.0,0.0,1.0,0.0,0.0,826.0,195.0,0.0,...,0.0,18822.0,0.0,96.0,96.0,1.0,0.0,10.0,46.0,5.0
2020-06-10,542.0,36.0,117.0,0.0,4.0,0.0,0.0,1141.0,350.0,0.0,...,0.0,18665.0,1.0,99.0,159.0,0.0,0.0,28.0,0.0,27.0
2020-06-11,684.0,42.0,102.0,0.0,17.0,0.0,0.0,1239.0,428.0,0.0,...,1.0,20614.0,1.0,148.0,106.0,0.0,0.0,36.0,52.0,6.0
2020-06-12,747.0,44.0,105.0,0.0,5.0,0.0,0.0,1373.0,566.0,0.0,...,0.0,22883.0,0.0,124.0,76.0,0.0,0.0,31.0,0.0,12.0
2020-06-13,656.0,31.0,109.0,1.0,12.0,0.0,0.0,1391.0,612.0,0.0,...,0.0,25639.0,0.0,82.0,65.0,1.0,0.0,41.0,69.0,11.0
2020-06-14,556.0,48.0,112.0,0.0,8.0,0.0,0.0,1531.0,723.0,0.0,...,0.0,25540.0,0.0,93.0,25.0,1.0,0.0,73.0,36.0,13.0
2020-06-15,664.0,57.0,109.0,0.0,2.0,0.0,0.0,1282.0,663.0,0.0,...,1.0,19543.0,1.0,109.0,74.0,0.0,0.0,23.0,1.0,27.0
2020-06-16,761.0,69.0,112.0,0.0,2.0,0.0,0.0,1208.0,397.0,0.0,...,0.0,19957.0,0.0,190.0,84.0,0.0,0.0,116.0,24.0,4.0
2020-06-17,783.0,82.0,116.0,1.0,0.0,0.0,0.0,1374.0,425.0,0.0,...,0.0,23705.0,1.0,268.0,88.0,1.0,0.0,45.0,23.0,7.0
2020-06-18,564.0,50.0,121.0,0.0,13.0,0.0,0.0,1393.0,544.0,0.0,...,0.0,25559.0,0.0,136.0,0.0,0.0,0.0,13.0,7.0,7.0
2020-06-19,658.0,66.0,117.0,1.0,0.0,0.0,0.0,0.0,665.0,0.0,...,0.0,27762.0,1.0,158.0,334.0,7.0,0.0,4.0,4.0,62.0
2020-06-20,346.0,50.0,119.0,0.0,11.0,0.0,0.0,4018.0,459.0,0.0,...,1.0,29909.0,3.0,170.0,107.0,7.0,2.0,13.0,14.0,16.0
2020-06-21,546.0,53.0,127.0,0.0,6.0,0.0,0.0,1634.0,551.0,0.0,...,0.0,34158.0,6.0,191.0,199.0,0.0,0.0,4.0,0.0,7.0
2020-06-22,409.0,36.0,140.0,0.0,4.0,0.0,0.0,1581.0,880.0,0.0,...,2.0,25793.0,17.0,142.0,128.0,0.0,0.0,18.0,0.0,3.0
2020-06-23,310.0,68.0,149.0,0.0,7.0,0.0,0.0,2146.0,0.0,0.0,...,0.0,31390.0,6.0,142.0,130.0,0.0,0.0,26.0,0.0,23.0
2020-06-24,338.0,52.0,156.0,0.0,3.0,0.0,0.0,0.0,1129.0,0.0,...,0.0,34720.0,3.0,255.0,138.0,0.0,0.0,25.0,47.0,13.0
2020-06-25,234.0,67.0,172.0,0.0,3.0,0.0,39.0,4920.0,0.0,0.0,...,4.0,34339.0,17.0,235.0,179.0,3.0,0.0,23.0,12.0,5.0
2020-06-26,460.0,78.0,197.0,0.0,8.0,0.0,0.0,2606.0,1530.0,0.0,...,1.0,40949.0,5.0,238.0,198.0,0.0,0.0,61.0,8.0,21.0
2020-06-27,276.0,77.0,240.0,0.0,15.0,0.0,0.0,0.0,662.0,0.0,...,0.0,45527.0,12.0,262.0,216.0,1.0,0.0,13.0,34.0,10.0
2020-06-28,165.0,61.0,283.0,0.0,32.0,0.0,0.0,5287.0,736.0,0.0,...,0.0,42486.0,5.0,235.0,351.0,1.0,183.0,14.0,0.0,6.0
2020-06-29,351.0,72.0,305.0,0.0,23.0,0.0,0.0,0.0,482.0,0.0,...,0.0,38673.0,5.0,306.0,167.0,1.0,0.0,15.0,26.0,0.0
2020-06-30,271.0,64.0,298.0,0.0,9.0,0.0,1.0,4524.0,0.0,2.0,...,3.0,41556.0,3.0,267.0,233.0,0.0,0.0,10.0,11.0,7.0
2020-07-01,279.0,69.0,336.0,0.0,8.0,0.0,0.0,2262.0,415.0,0.0,...,0.0,43880.0,4.0,329.0,302.0,0.0,172.0,30.0,26.0,17.0
2020-07-02,319.0,45.0,365.0,0.0,7.0,0.0,0.0,2667.0,523.0,0.0,...,8.0,52048.0,7.0,277.0,230.0,0.0,81.0,32.0,38.0,14.0
2020-07-03,186.0,82.0,385.0,0.0,24.0,0.0,2.0,2744.0,593.0,1.0,...,6.0,53399.0,4.0,295.0,211.0,0.0,0.0,31.0,0.0,12.0
2020-07-04,302.0,90.0,413.0,0.0,13.0,0.0,0.0,2845.0,662.0,0.0,...,13.0,54442.0,5.0,301.0,264.0,0.0,58.0,19.0,0.0,8.0
2020-07-05,348.0,67.0,430.0,0.0,18.0,0.0,0.0,0.0,580.0,1.0,...,0.0,45221.0,3.0,329.0,213.0,0.0,0.0,8.0,0.0,73.0

In [92]:
cases_14_days_rolling_average = cases_14_days.rolling(window=14).mean()
cases_14_days_rolling_average

countriesAndTerritories,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_States_Virgin_Islands,United_States_of_America,Uruguay,Uzbekistan,Venezuela,Vietnam,Western_Sahara,Yemen,Zambia,Zimbabwe
dateRep,,,,,,,,,,,,,,,,,,,,,
2020-06-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-21,633.785714,47.071429,112.928571,0.214286,6.142857,0.0,0.000000,1370.285714,524.571429,0.000000,...,0.214286,23932.714286,1.000000,145.357143,105.285714,1.428571,0.142857,32.142857,19.714286,14.785714
2020-06-22,606.500000,48.642857,115.500000,0.214286,6.071429,0.0,0.000000,1427.928571,532.714286,0.000000,...,0.357143,24182.071429,2.214286,143.285714,110.071429,1.285714,0.142857,32.500000,19.714286,14.785714
2020-06-23,587.571429,52.285714,118.214286,0.214286,6.500000,0.0,0.000000,1522.214286,518.785714,0.000000,...,0.357143,25079.785714,2.642857,146.571429,112.500000,1.214286,0.142857,33.642857,16.428571,16.071429
2020-06-24,573.000000,53.428571,121.000000,0.214286,6.428571,0.0,0.000000,1440.714286,574.428571,0.000000,...,0.357143,26226.571429,2.785714,157.714286,111.000000,1.214286,0.142857,33.428571,19.785714,15.071429
2020-06-25,540.857143,55.214286,126.000000,0.214286,5.428571,0.0,2.785714,1703.642857,543.857143,0.000000,...,0.571429,27206.928571,3.928571,163.928571,116.214286,1.428571,0.142857,32.500000,16.928571,15.000000
2020-06-26,520.357143,57.642857,132.571429,0.214286,5.642857,0.0,2.785714,1791.714286,612.714286,0.000000,...,0.642857,28497.357143,4.285714,172.071429,124.928571,1.428571,0.142857,34.642857,17.500000,15.642857
2020-06-27,493.214286,60.928571,141.928571,0.142857,5.857143,0.0,2.785714,1692.357143,616.285714,0.000000,...,0.642857,29917.928571,5.142857,184.928571,135.714286,1.428571,0.142857,32.642857,15.000000,15.571429
2020-06-28,465.285714,61.857143,154.142857,0.142857,7.571429,0.0,2.785714,1960.642857,617.214286,0.000000,...,0.642857,31128.357143,5.500000,195.071429,159.000000,1.428571,13.214286,28.428571,12.428571,15.071429
2020-06-29,442.928571,62.928571,168.142857,0.142857,9.071429,0.0,2.785714,1869.071429,604.285714,0.000000,...,0.571429,32494.785714,5.785714,209.142857,165.642857,1.500000,13.214286,27.857143,14.214286,13.142857
2020-06-30,407.928571,62.571429,181.428571,0.142857,9.571429,0.0,2.857143,2105.928571,575.928571,0.142857,...,0.785714,34037.571429,6.000000,214.642857,176.285714,1.500000,13.214286,20.285714,13.285714,13.357143
2020-07-01,371.928571,61.642857,197.142857,0.071429,10.142857,0.0,2.857143,2169.357143,575.214286,0.142857,...,0.785714,35478.642857,6.214286,219.000000,191.571429,1.428571,25.500000,19.214286,13.500000,14.071429
2020-07-02,354.428571,61.285714,214.571429,0.071429,9.714286,0.0,2.857143,2260.357143,573.714286,0.142857,...,1.357143,37370.714286,6.714286,229.071429,208.000000,1.428571,31.285714,20.571429,15.714286,14.571429
2020-07-03,320.714286,62.428571,233.714286,0.000000,11.428571,0.0,3.000000,2456.357143,568.571429,0.214286,...,1.785714,39201.928571,6.928571,238.857143,199.214286,0.928571,31.285714,22.500000,15.428571,11.000000
2020-07-04,317.571429,65.285714,254.714286,0.000000,11.571429,0.0,3.000000,2372.571429,583.071429,0.214286,...,2.642857,40954.285714,7.071429,248.214286,210.428571,0.428571,35.285714,22.928571,14.428571,10.428571
2020-07-05,303.428571,66.285714,276.357143,0.000000,12.428571,0.0,3.000000,2255.857143,585.142857,0.285714,...,2.642857,41744.500000,6.857143,258.071429,211.428571,0.428571,35.285714,23.214286,14.428571,15.142857